.home-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
  }
  
  .home-header {
    /* padding: 10px 20px; */
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:0.33;
    height: 5%
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  }
  
  .logout-button {
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
    width: 50px;
  }
  
  .logout-button img {
    width: 24px;  /* Small size for the icon */
    height: 24px; /* Maintain aspect ratio */
  }
  
  .content-area {
    flex: 1;  /* Takes up the remaining space */
    padding: 20px;
  }
  