
  /* recruiter css */
  .rooms_home {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #176d65;
    position: fixed;
  
  }
  
  .rooms_main-content {
    display: flex;
    /* height: 83vh; */
    height: 100%;
    width: 100%;
  }
  
  .rooms_content{
    width: 100%;
    display: flex;
  }
  