.header {
  background-color: #000000;
  color: white;
  display: flex;
  align-items: center;
  /* padding: 10px 20px; */
  box-shadow: 0 0 10px black;
  height: 15vh;
  width: 100%;
}

.header .logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  letter-spacing: 0.45em;
}

.header .logo img {
  height: 8vh; /* Set the height to 8% of the viewport height */
  margin-right: 10px;
  margin-left: 15px;
}
