.recruiter_home {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #176d65;
  position: fixed;

}

.recruiter_main-content {
  display: flex;
  /* height: 83vh; */
  height: 100%;
  width: 100%;
}

.recruiter_content{
  display: flex;
  width:63.84%;
  height: 70.6%;
  margin-left: 3.29%;
  /* margin-right: 6.8%; */
  margin-top: 3.29%;
}
