.settings-container {
    color: black;
    width: 100%;
    height:90%;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    box-sizing: border-box; /* Ensure padding is included in the width and height */
    align-items: center;
}

.settings-header {
    width: 37.09%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 0 3px white;
    text-align: center;
    height: 10.24%;
    align-self: center;
    font-size: 1.68rem;
    margin-bottom: 5%;
}

.settings-form {
    width: 100%;
    max-width: 40%;
    background-color: #000000;
    /* padding: 20px; */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    height: 15%;
}

.form-input, .custom-dropdown {
    width: 100%;
    height: 100%;
    border: 1px solid #333333;
    border-radius: 4px;
    background-color: #222222;
    color: white;
    font-size: 1em;
    box-sizing: border-box; 
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
}

.custom-dropdown {
    position: relative;
}

.custom-dropdown:after {
    content: '▼';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #888888;
}

.custom-dropdown option {
    background-color: #222222;
    color: #888888;
}

.form-input::placeholder {
    color: #888888;
}

.form-label {
    font-size: 1em;
    /* margin-bottom: 10px; */
    display: block;
}

.create-room-btn {
    width: 100%;
    /* padding: 10px; */
    margin-top: 2%;
    height: 20%;
    border: none;
    border-radius: 4px;
    background-color: #333333;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.create-room-btn:hover {
    background-color: #555555;
    /* color: #ffdd00; */
}


.cv-label {
    display: inline-block;
    background-color: #333333;
    width: 30%;
    height: 100%;
    margin: 0 auto;

    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.cv-label:hover {
    background-color: #555555;
    color: #fff;
}

.cv-input {
    display: none; /* Hide the actual file input */
}